/**
*Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/

agm-map {
  height: 100%;
}

.rating {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  .filled {
    color: gold;
  }
  .empty {
    color: gray;
  }
}

a {
  color: darkblue;
}
ion-fab.fab_icon {
  margin-top: -73px;
}
ion-fab-button {
  --background: var(--ion-color-success-contrast);
  --background-activated: var(--ion-color-tertiary-contrast);
  --background-focused: var(--background-activated);
  --color: var(--ion-color-light-contrast);
  --color-activated: var(--ion-color-light-contrast);
  --color-focused: var(--color-activated);
  --box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  --transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 280ms cubic-bezier(0.4, 0, 0.2, 1),
    color 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.list-md:not(.list-inset):not(.list-md-lines-none) .item:last-child {
  --inner-border-width: 0 !important;
  --border-width: 0 0 1px 0 !important;
}
ion-icon.icon_Spec {
  font-size: 30px;
  color: var(--ion-color-all);
}
.vertical_line {
  width: 1px;
  background: gray;
  height: 56%;
  margin-right: 12px;
}

i.star.halfNaN {
  color: var(--ion-color-all) !important;
}
.dark_color {
  color: var(--ion-color-dark);
}
.dark_small {
  font-size: 10px;
}
.distance {
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 25%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentMap {
  height: 50%;
  position: relative;
}
