<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="row_div">
        <div class="horizontal_line"></div>
        <div class="label_Class">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="margin-top:20px">
    <ion-item class="item_input">
      <ion-label position="stacked" padding-bottom color="medium">EMAIL</ion-label>
      <ion-input type="email" [(ngModel)]="cabLogin.email"></ion-input>
    </ion-item>
    <ion-item class="item_input">
      <ion-label position="stacked" padding-bottom color="medium"
        >PASSWORD</ion-label
      >
      <ion-input type="password" [(ngModel)]="cabLogin.password"></ion-input>
    </ion-item>
  </div>
  <ion-button expand="full" type="submit" [disabled]="disabled" class="submit_button" padding-vertical (click)="login()">Log
    In
    <span *ngIf="spinner">
      <ion-spinner name="lines"></ion-spinner>
    </span>
  </ion-button>
  <ion-button margin-top color="medium" fill="clear" type="submit" class="forgot_button" routerLink="/forgotpassword">FORGOT
    PASSWORD</ion-button>
</ion-content>
