/**
*Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/


ion-card{
  --background:url(../../assets/image/card.png) no-repeat;
    margin: 0 !important;
    height: 196px;
    border-radius: 8px;
    width: 100%;
    background-size: cover;
  
}
ion-item{
  --border-color: black;
}