 /**
*Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/
 
 
 .ion_Content{
    background: url('../../assets/image/Home.jpeg') no-repeat;
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
} 
.card_content{
   
    background: white;
    width: 100%;
    
}
.card_img{
 width: 130px;
    padding: 20px 0px 0px 0px;
}
.image_set{
  
    justify-content: center;
    align-items: center;
    display: flex;
}
.title_center{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(168, 205, 219, 0.836);
    letter-spacing: 1px;
}
 
.button_solid{
--background:  rgba(168, 205, 219, 0.836) !important;
--background-activated:   rgba(168, 205, 219, 0.836);
}

 .sc-ion-buttons-md-s ion-button{
  --margin-start: 3px;
    margin-left: 2px;
    --margin-end: 3px;
    margin-right: 2px;
    --padding-start: 48px;
    --padding-end: 48px;
    --height: 2.4rem;
    --box-shadow: none;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    
 }
 .button-width{
    width: calc(50% - 8px);
 }
