/**
*Ionic 4 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/


.img_content{
    --background: var(--ion-color-all);
}
.profile_stub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile_pic{
    width: 100px;
    height: 100px;
}