/**
 * Ion Cab (https://store.enappd.com/product/taxi-booking-app/)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */ /**
 * Ion Cab (https://store.enappd.com/product/taxi-booking-app/)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 ion-icon {
  margin-top: 6px !important;
  font-size: 1.3em;
}
ion-label {
  margin: 14px 10px 13px 12px !important;
}
